.main-div{
    display: flex;
}

.graph-cont{
    display: flex;
    gap: 20px;
}

.graph{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.bar{
    border: 1px solid black;
    width: 100%;
}