.main-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ctrl {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.btn-ctrl {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-ctrl p{
    margin: 0;
}

.select-styl{
    display: flex;
    gap: 15px;
}
