.main{
    background-color: #f6f6ef;
    height: 100vh;
}

.cont {
  margin: 10px;
  padding: 10px;
}

.headline {
  color: #ff6601;
}

.job-info{
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
    background-color: white;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.button{
    background-color: #ff6601;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
